@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>
        Celebrate at the carnival with thrilling rides, tasty treats, lively performances, and exciting games. It's a vibrant event that caters to all ages and interests. Experience adventure, indulge in delicious food, be entertained by talented performers, and create lasting memories. Join us for a joyous and unforgettable celebration of fun and excitement.
    </p>
</main>