@{
    ViewBag.Title = "Home Page";
}

<main>

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Carnival Program</h1>
        <p class="lead">Welcome to the Carnival! Get ready for a world of excitement, laughter, and adventure. Immerse yourself in a vibrant atmosphere filled with thrilling rides, delicious food, captivating performances, and endless fun. Whether you're seeking adrenaline-pumping experiences or simply looking to create cherished memories with loved ones, the Carnival is the ultimate destination for entertainment and joy. Step right in and let the magic begin!</p>
        <p><a href="/Orders/Create" class="btn btn-primary btn-md">Add Your Order &raquo;</a></p>
    </section>

    <div class="row">

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="aboutus">About Us</h2>
            <p>
                Celebrate at the carnival with thrilling rides, tasty treats, lively performances, and exciting games. It's a vibrant event that caters to all ages and interests. Experience adventure, indulge in delicious food, be entertained by talented performers, and create lasting memories. Join us for a joyous and unforgettable celebration of fun and excitement.
            </p>
            <p><a class="btn btn-outline-dark" href="/Home/About">Learn more &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="contactus">Contact Us</h2>
            <p>Thank you for your interest in the carnival! If you have any questions, feedback, or would like to get in touch with us, we're here to help. Celebrate with us at the carnival, where you'll find a world of thrilling rides, tasty treats, lively performances, and exciting games.</p>
            <p><a class="btn btn-outline-dark" href="/Home/Contact">Learn more &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="food">Food</h2>
            <p>Indulge in a mouthwatering feast at the carnival's food section. From classic favorites like cotton candy and popcorn to savory treats like corn dogs and nachos, our wide selection of delicious delights will satisfy your cravings. Treat your taste buds to an unforgettable culinary experience at the carnival!</p>
            <p><a class="btn btn-outline-dark" href="/Food_Products">Learn more &raquo;</a></p>
        </section>

    </div>
</main>