
@{
    ViewBag.Title = "Social Media";
}

<h2>Social Media</h2>
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="width: 1000px; height: 200px; overflow: auto;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="https://www.google.com/" target="_blank">
                <img style="width: 200px; height: 200px;" src="https://media4.giphy.com/media/2epS8zhisYtHDCKrWv/giphy.gif" />
            </a>
            <hr />
            <a href="https://www.facebook.com/" target="_blank">
                <img style="width: 200px; height: 200px;" src="https://www.gov.br/defesa/pt-br/olimpiadas-2021/arquivos/facebook.gif" />
            </a>
            <hr />
            <a href="https://twitter.com/" target="_blank">
                <img style="width: 200px; height: 200px;" src="https://cliply.co/wp-content/uploads/2021/09/CLIPLY_372109260_TWITTER_LOGO_400.gif" />
            </a>
        </div>
        <hr />
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="https://www.instagram.com/" target="_blank">
                <img style="width: 300px; height: 225px;" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/1-instagram.gif" />
            </a>
            <hr />
            <a href="https://www.youtube.com/" target="_blank">
                <img style="width: 300px; height: 200px;" src="https://media.tenor.com/qfJQ5i5NUxIAAAAC/youtube-subscribe.gif" />
            </a>
            <hr />
            <a href="https://www.reddit.com/" target="_blank">
                <img style="width: 250px; height: 200px;" src="https://cdn.dribbble.com/users/47395/screenshots/3433248/snoobbble.gif" />
            </a>
        </div>
    </div>
</div>
